{% extends "admin/base_site.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>You are about to perform the following action on {{ objects.count }} item(s):</p>
    <ul>
        {% for obj in objects %}
            <li>{{ obj }}</li>
        {% endfor %}
    </ul>
    <form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="action" value="{{ action }}">
        <input type="hidden" name="post" value="yes">
        {{ form.as_p }}
        <p>
            <input type="submit" value="Confirm">
            <a href="{% url 'admin:index' %}">Cancel</a>
        </p>
    </form>
{% endblock %}